/* 초기화 */
body {
    margin: 0;
    padding: 0;
}

/* 라이브러리 */
.con {    
    width : var(--max-width);
    margin : 0 auto;
}

.con-min-width {
    min-width : var(--max-width);
}

/* 커스텀 */
:root {
    --max-width : 1200px;
    --pch : 100px;
}

/* topbar설정 */
.pctopbar {
    height: 122px;
    z-index: 999;
}

.pctopbar.bgb-bd-w {
    background-color: black;
    border-bottom : 1px solid white;
}

.pctopbar:hover {
    height: 429px;
}

.mtopbar {
    height: 100px;
}

/* nav설정 */
.sidem {
    position: fixed;
    top : auto;
    left : auto;
    right : 5%;
    bottom : 150px;
    border : 1px solid black;
    background-color: rgba(255,255,255,0.7);
    border-radius: 12px;
    padding: 5px 9px;
    z-index: 999;
}
/* ------- */
.subm {
    height : 80px;
    padding : 0 50px;
}
.subm > div {
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color : white;
    border-radius: 50%;
    margin : 0 20px;
    font-size: 1.1rem;
}
.subm > div:hover  {
    background-color: white;
    color : black;
    font-weight: bold;
}

/* nav설정 fin */
/* 섹션설정 */
/* pc섹션 */
.pc-section {
    background-color: black;
    color : white;
}
.pc-section .mb {
    height: 450px;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}

.pc-section .mb > div p {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.pc-section .ex p {
    font-size: 3rem;
    font-weight: bold;
}

.pc-section .pd__2 > div > div {
    background-position: 50% 50%;
    background-size: cover;
    filter: grayscale(80%);
}

/* pc 섹션 fin */
.m-section{
    --max-width : 900px;
    max-width: var(--max-width);
}

/* 섹션설정 fin */


/* 반응형 설정 */
@media (min-width : 901px) {
    .pctopbar {
        display: block;
        position: fixed;
    }
    .pc-section, .pcfoot{
        display: block;
    }
    .mtopbar {
        display: none;
    }
    .m-section, .mfoot{
        display: none;
    }
}

@media (max-width : 900px) {
    .pctopbar {
        display: none;
    }
    .pc-section, .pcfoot {
        display: none;
    }
    .mtopbar {
        display: block;
        position: fixed;
    }
    .m-section, .mfoot {
        display: block;
    }
}
/* 반응형 설정 fin */