/* 초기화 */
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/* 라이브러리 */
.con {    
    width : var(--max-width);
    margin : 0 auto;
}

.con-min-width {
    min-width : var(--max-width);
}

/* 커스텀 */
:root {
    --max-width : 1200px;
    --pch : 100px;
}

/* topbar설정 */
#head-top {
    z-index: 999;
    position: fixed;
    width: 100%;
}  

/* nav설정 */
.sidem {
    position: fixed;
    top : auto;
    left : auto;
    right : 5%;
    bottom:150px;
    border : 1px solid white;
    background-color: rgba(255,255,255,0.7);
    border-radius: 12px;
    padding: 5px 9px;
    z-index: 998;
}
/* ------- */
.subm {
    height : 80px;
    margin : 70px 0;
}
.subm > div > div {
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 50%;
    margin : 0 20px;
    font-size: 1.1rem;
    width: 220px;
}
.subm > div > div:hover  {
    background-color: white;
    color : black;
    font-weight: bold;
}

/* nav설정 fin */
/* 섹션설정 */
/* pc섹션 */
.pc-section {
    background-color: black;
    color : white;
}

.pc-section .mb {
    height: 600px;
    background-position: top center;
    background-size: cover;
    border-bottom: 2px solid white;
    box-sizing: content-box;
}

.pc-section .mb > div p {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    transform: translateY(30px);
}

.pc-section .ex p {
    font-size: 3rem;
    font-weight: bold;
}

/* pc 섹션 fin */
.m-section{
    --max-width : 900px;
    max-width: var(--max-width);
}

/* 섹션설정 fin */

@media (min-width : 901px) {
    .pc-section{
        display: block;
    }
    .m-section {
        display: none;
    }
}
@media (max-width : 900px) {
    .pc-section{
        display: none;
    }
    .m-section {
        display: block;
    }
}
