/* 초기화 */
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/* 라이브러리 */
.con {    
    width : var(--max-width);
    margin : 0 auto;
}

.con-min-width {
    min-width : var(--max-width);
}

/* 커스텀 */
:root {
    --max-width : 1200px;
    --pch : 122px;
}

/* 공통부분 */
.pc-top, .m-top {
    position: fixed;
    color: white;
}

.top-bar.active {
    border-bottom : 1px solid white;
    background-color: black;
}
/* 공통부분fin */
/* pc-topbar */
.pc-top > div:first-child {
    height: 2px;
    background-color:white;
}

/* pc-topbar links */
.pc-top .top-links a {
    display: flex;
    padding: 0 7px;
}

.pc-top .top-links__call i::before {
    display: flex;
    height: 100%;
    align-items: center;
}
/* pc-topbar links fin */
/* pc-topbar 메뉴설정 */
.pc-top .top-bar__menu > ul > li > a {
    position: relative;
    width :150px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

/* 글씨밑줄 */
.pc-top .top-bar__menu > ul > li > a::after {
    content:"";
    position:absolute;
    bottom: 0;
    left:50%;
    transform:translateX(-50%);
    width:0;
    height:2px;
    background-color:white;
    transition: width 0.3s;
}
.pc-top .top-bar__menu > ul > li:hover > a::after {
    width : 90%;
}
/* 글씨밑줄  fin */
/* 메가메뉴 */
.pc-top .top-bar__menu > ul > li > div {
    display: block;
    visibility:hidden;
    position:absolute;
    left : 0;
    width : 100%;
    min-height: 200px;
    transform : translateY(1px);
    min-height: 306px;
    background-color: black;
    border-bottom: 1px solid white;
}

.pc-top .top-bar__menu > ul > li:hover >  div {
    visibility: visible;
}

.pc-top .top-bar__menu > ul > li > div > div {
    padding: 30px 20px;
}

.pc-top .top-bar__menu > ul > li > div > div > ul > li > a {
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
}

.pc-top .top-bar__menu > ul > li > div > div > ul > li:hover > a {
    color : rgba(255,255,255,0.7);
}

/* 1-2 메뉴설정 */
.pc-top .top-bar__menu-pdl > div {
    font-size: 1.2rem;
    font-weight: bold;
}

.pc-top .top-bar__menu-pdl > div:hover, 
.pc-top .top-bar__menu-pdr > div > div > div:hover {
    color : rgba(255,255,255,0.7);
}

.pc-top .top-bar__menu-pdl > ul > li {
    padding : 3px 0;
}

.pc-top .top-bar__menu-pdl > ul > li:hover > a {
    color : rgba(255,255,255,0.7);
}

.pc-top .top-bar__menu-pdr > div > div > div {
    font-size: 1.2rem;
    font-weight: bold;
}

.pc-top .top-bar__menu-pdr > div > div > ul > li {
    padding : 1.5px 0;
}

.pc-top .top-bar__menu-pdr > div > div > ul > li:hover > a {
    color : rgba(255,255,255,0.7);
}
/* 1-2 메뉴설정 fin*/
/* 메가메뉴 fin*/
/* pc-topbar 메뉴설정 fin*/
/* pc-topbar fin*/

/* m-topbar */
.m-top > div:first-child {
    height: 2px;
    background-color:white;
}

.m-top .pannel {
    position: fixed;
    top :0;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba(255,255,255,1);
    visibility: hidden;
    z-index: 999;
    height: 100vh;
    overflow-y: auto;
}

.m-top .pannel.active {
    visibility: visible;
}

/* 아코디언 메뉴 on/off */
.m-top [class*="pannelbtn"]::before {
    font-size: 30px;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 1.4rem;
}

.m-top .pannelbtn-open::before {
    color : white;
}

.m-top .pannelbtn-close::before{
    color:gray;
}
/* 아코디언 메뉴 on/off fin */

/* 아코디언 메뉴 */
/* 메뉴색 */
.m-top .pannel__acodian {
    border : 1px solid gray;
}

.m-top .pannel__acodian > ul > li > div.head {
    border-bottom: 2px solid darkgray;
    color : black;
    background-color: white;
}

.m-top .pannel__acodian > ul ul > li {
    border-bottom: 2px solid darkgray;
    color : rgba(0 ,0,0,0.7);
    background-color: lightgray;
}

.m-top .pannel__acodian > ul ul ul > li {
    display: flex;
    border-bottom: 2px solid darkgray;
    color : white;
    background-color: gray;
    align-items: center;
}
/* 메뉴색 fin*/

.m-top .pannel__acodian > ul li {
    display: flex;
    flex-direction: column;
    width : 100%;
}

.m-top .pannel__acodian a {
    width : 100%;
    padding : 10px 20px;
    font-size: 1.2rem;
    height: 100%;
}

.m-top .pannel__acodian .head {
    display: flex;
    align-items: center;
}

.m-top .pannel__acodian .body {
    display: flex;
    flex-direction: column;
}

/* 접힘표시 */
.m-top .pannel__acodian div:not(:only-child) > a::after {
    content: "[+]";
    display: flex;
    flex:1 1 0;  /*flex-1*/
    justify-content: flex-end;
}

.m-top .pannel__acodian div:not(:only-child) > a.minus::after {
    content: "[-]";
    display: flex;
    flex:1 1 0;  /*flex-1*/
    justify-content: flex-end;
}
/* 접힘표시 fin */
/* 아코디언 메뉴 fin */

/* m-topbar fin */

@media (min-width : 901px) {
    .pc-top{
        display: block;
    }
    .m-top {
        display: none;
    }
}
@media (max-width : 900px) {
    .pc-top{
        display: none;
    }
    .m-top {
        display: block;
    }
}