/* 초기화 */
body {
    margin: 0;
    padding: 0;
}

/* 라이브러리 */
.con {    
    width : var(--max-width);
    margin : 0 auto;
}

.con-min-width {
    min-width : var(--max-width);
}

/* 커스텀 */
:root {
    --max-width : 1200px;
    --pch : 100px;
}

/* pc-topbar */
.pc-top {
    position:fixed;
    height: var(--pch);
}

.pc-top > div:first-child {
    height: 2px;
    background-color:white;
}

/* pc-topbar links */
.top-links{
    background-color: black;
    color : white;
}

.top-links a {
    display: flex;
    padding: 0 7px;
}
/* pc-topbar links fin */
/* pc-topbar 메뉴설정 */
.top-bar {
    border-bottom: 1px solid gray;
    background-color: white;;
}

.top-bar__menu > ul > li > a {
    position: relative;
    width :150px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.top-bar__menu > ul > li > a::after {
    content:"";
    position:absolute;
    bottom: 0;
    left:50%;
    transform:translateX(-50%);
    width:0;
    height:2px;
    background-color:black;
    transition: width 0.3s;
}
.top-bar__menu > ul > li:hover > a::after {
    width : 90%;
}

.top-bar__menu > ul > li > div {
    display: block;
    visibility:hidden;
    position:absolute;
    left : 0;
    width : 100%;
    min-height: 200px;
    background-color : white;
    transform : translateY(1px);
    border-bottom: 1px solid gray;
    min-height: 306px;
}

.top-bar__menu > ul > li:hover >  div {
    visibility: visible;
}

.top-bar__menu > ul > li > div > div {
    padding: 30px 20px;
}

.top-bar__menu > ul > li > div > div > ul > li > a {
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
}

.top-bar__menu > ul > li > div > div > ul > li:hover > a {
    color : rgba(0,0,0,0.7);
}

/* 1-2 메뉴설정 */
.top-bar__menu-pdl > div {
    font-size: 1.2rem;
    font-weight: bold;
}

.top-bar__menu-pdl > div:hover, .top-bar__menu-pdr > div:hover {
    color : rgba(0,0,0,0.7);
}

.top-bar__menu-pdl > ul > li {
    padding : 3px 0;
}

.top-bar__menu-pdl > ul > li:hover > a {
    color : rgba(0,0,0,0.7);
}

.top-bar__menu-pdr > div > div > div {
    font-size: 1.2rem;
    font-weight: bold;
}

.top-bar__menu-pdr > div > div > ul > li {
    padding : 1.5px 0;
}

.top-bar__menu-pdr > div > div > ul > li:hover > a {
    color : rgba(0,0,0,0.7);
}
/* 1-2 메뉴설정 fin*/
/* pc-topbar 메뉴설정 fin*/
/* pc-topbar fin*/