/* 초기화 */
body {
    margin: 0;
    padding: 0;
}

/* 라이브러리 */
.con {    
    width : var(--max-width);
    margin : 0 auto;
}

.con-min-width {
    min-width : var(--max-width);
}

/* 커스텀 */
:root {
    --max-width : 1200px;
    --pch : 100px;
}

body {
    background-color: black;
    color : white;
}

/* topbar설정 */
#head-top {
    z-index: 999;
    position: fixed;
    width: 100%;
}  

/* nav설정 */
.sidem {
    position: fixed;
    top : auto;
    left : auto;
    right : 5%;
    bottom:150px;
    border : 1px solid white;
    background-color: rgba(255,255,255,0.7);
    border-radius: 12px;
    padding: 5px 9px;
    z-index: 998;
}
/* ------- */
.upsub {
    border : 1px solid black;
    text-align: center;
}
/* ------- */
.subm {
    height : 80px;
    margin : 70px 0;
}
.subm > div > div {
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 50%;
    margin : 0 20px;
    font-size: 1.1rem;
    width: 220px;
}
.subm > div > div:hover  {
    background-color: white;
    color : black;
    font-weight: bold;
}

/* nav설정 fin */
/* 섹션설정 */
/* pc섹션 */
.pc-section .mb {
    height: 400px;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}

.pc-section .mb > div {
    position: absolute;
    top : auto;
    left : 52%;
    right: 20px;
    bottom: 15px;
    padding: 30px 20px;
}

.pc-section .mb > div >p {
    color : white;
}

.pc-section .mb > div strong {
    font-size: 1.5rem;
}

.pc-section [class^="ex__"]{
    background-color: white;
    color : black;
    max-width : 1000px;
    padding : 20px;
    align-items: center;
}

.pc-section .ex {
    margin-bottom: 20px;
}

.pc-section [class^="ex__"] > div:first-child{
    justify-content: center;
    align-items: center;  
}

.pc-section [class^="ex__"] > div:first-child > img{
    width : 270px;
    height: 200px;
    object-fit: cover; 
}


.pc-section [class^="ex__"] > div:last-child{
    padding-left : 40px;
}

.pc-section .pd {
    margin-top: 80px;
    --max-width : 1000px;
}
.pc-section .pd > div {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}
/* pc 섹션 fin */
/* 모바일 섹션 */

/* 모바일 섹션 fin */
/* 섹션설정 fin */

@media (min-width : 901px) {
    .pc-section{
        display: block;
    }
    .m-section {
        display: none;
    }
}
@media (max-width : 900px) {
    .pc-section{
        display: none;
    }
    .m-section {
        display: block;
    }
}
