/* 초기화 */
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/* 라이브러리 */
.con {    
    width : var(--max-width);
    margin : 0 auto;
}

.con-min-width {
    min-width : var(--max-width);
}

/* 커스텀 */
:root {
    --max-width : 1200px;
    --pch : 100px;
}

/* topbar설정 */
#head-top {
    z-index: 999;
    position: fixed;
    width: 100%;
}  

/* nav설정 */
.sidem {
    position: fixed;
    top : auto;
    left : auto;
    right : 5%;
    bottom:150px;
    border : 1px solid white;
    background-color: rgba(255,255,255,0.7);
    border-radius: 12px;
    padding: 5px 9px;
    z-index: 998;
}
/* nav설정 fin */
/* ------- */
/* 섹션설정 */
/* pc섹션 */
.pc-section .subm {
    height : 80px;
    margin : 70px 0;
}
.pc-section .subm > div > div {
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 50%;
    margin : 0 20px;
    font-size: 1.1rem;
    width: 220px;
}
.pc-section .subm > div > div:hover  {
    background-color: white;
    color : black;
    font-weight: bold;
}

.pc-section {
    background-color: black;
    color : white;
}
.pc-section .mb {
    height: 600px;
    border-bottom: 2px solid white;
    box-sizing: content-box;
    background-color: #00CFFF;
}

.pc-section .mb > div{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pc-section .mb p {
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 6px;
    align-items: center;
    justify-content: center;
    margin-left : 60px;
    margin-top: 15px;
}

.pc-section .ex p {
    font-size: 3rem;
    font-weight: bold;
}

/* 공지사항 */
.pc-section .pd__1 {
    padding: 30px 0;
    min-height: 500px;
    background-color: white;
    color : #191919;
}

.pc-section .notice{
    --max-width: 1000px;
}

.pc-section .notice__top > div {
    border-top: 2px solid gray;
    padding: 2px 0 ;
}

.pc-section .notice__top > div:nth-child(2){
    margin : 0 3px;
}

/* 공지사항 unit */
.pc-section .notice__unit {
    flex-direction: column;
    margin-bottom: 2px;
}

.pc-section .notice__unit:last-child {
    flex-direction: column;
    margin-bottom: 2px;
    border-bottom: 1px solid gray;
}

.pc-section .notice__unit .notice__head {
    border-top : 1px solid lightgray;
    border-bottom : 1px solid lightgray;
    padding: 5px 0;
}

.pc-section .notice__unit .notice__body {
    padding : 40px 50px;
}

.pc-section .notice__paging {
    display: flex;
    flex : 1 1 0%;
    margin : 10px 0 ;
    justify-content: center;
}

.pc-section .notice__paging > div {
    display: flex;
    width : 20px;
    height: 20px;
    border : 1px solid black;
    justify-content: center;
    align-items: center;
}
/* 공지사항 unit fin*/
/* 공지사항 fin*/
/* 오시는길 */
.pc-section .pd__2 > div > div {
    background-position: 50% 50%;
    background-size: cover;
    filter: grayscale(80%);
}
/* 오시는길 fin */
/* pc 섹션 fin */
/* m 섹션 */
.m-section{
    --max-width : 900px;
    max-width: var(--max-width);
}

.m-section .subm {
    height : 70px;
    margin-top : 40px;
    margin-bottom: 20px;
}

.m-section .subm > div > div {
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 50%;
    font-size: 1.1rem;
    width: 110px;
}
.m-section .subm > div > div:hover  {
    background-color: white;
    color : black;
    font-weight: bold;
}

.m-section {
    background-color: black;
    color : white;
}
.m-section .mb {
    height: 300px;
    border-bottom: 2px solid white;
    box-sizing: content-box;
    background-color: #00CFFF;
}

.m-section .mb > div{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.m-section .mb p {
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 4px;
    align-items: center;
    margin-left : 40px;
    margin-top: 15px;
}

.m-section .ex p {
    font-size: 3rem;
    font-weight: bold;
}

/* 공지사항 */
.m-section .pd__1 {
    padding: 30px 0;
    min-height: 200px;
    background-color: white;
    color : #191919;
}

.m-section .notice{
    --max-width: 1000px;
    padding : 0 15px;
}

.m-section .notice__top > div {
    border-top: 2px solid gray;
    padding: 2px 0 ;
}

.m-section .notice__top > div:nth-child(2){
    margin : 0 3px;
}

/* 공지사항 unit */
.m-section .notice__unit {
    flex-direction: column;
    margin-bottom: 2px;
}

.m-section .notice__unit:last-child {
    flex-direction: column;
    margin-bottom: 2px;
    border-bottom: 1px solid gray;
}

.m-section .notice__unit .notice__head {
    border-top : 1px solid lightgray;
    border-bottom : 1px solid lightgray;
    padding: 5px 0;
}

.m-section .notice__unit .notice__body {
    padding : 40px 50px;
}

.m-section .notice__paging {
    display: flex;
    flex : 1 1 0%;
    margin : 10px 0 ;
    justify-content: center;
}

.m-section .notice__paging > div {
    display: flex;
    width : 20px;
    height: 20px;
    border : 1px solid black;
    justify-content: center;
    align-items: center;
}
/* 공지사항 unit fin*/
/* 공지사항 fin*/

.m-section .pd__2 > div:first-child {
    background-position: 50% 50%;
    background-size: cover;
    filter: grayscale(80%);
}
/* m 섹션 fin */
/* 섹션설정 fin */
@media (min-width : 901px) {
    .pc-section{
        display: block;
    }
    .m-section {
        display: none;
    }
}
@media (max-width : 900px) {
    .pc-section{
        display: none;
    }
    .m-section {
        display: block;
    }
}
