/* 초기화 */
body {
    margin: 0;
    padding: 0;
    background-color: white;
}

/* 라이브러리 */
.con {    
    width : var(--max-width);
    margin : 0 auto;
}

.con-min-width {
    min-width : var(--max-width);
}

/* topbar설정 */
.pctopbar:hover {
    height: 455px;
}

.mtopbar {
    height: 100px;
}

/* 커스텀 */
:root {
    --max-width : 1200px;
    --pch : 100px;
}

/* nav */
.sidem {
    position: fixed;
    top : 600px;
    left : auto;
    right : 5%;
    border : 1px solid black;
    background-color: rgba(255,255,255,0.7);
    border-radius: 12px;
    padding: 5px 9px;
}
/* nav fin */

/* 섹션설정 */
/* 섹션설정 pc*/

.pc-section {
    background-color: white;
}

.pc-section__1st > div:nth-child(2) {
    margin: 0 4px;
}

.pc-section__1st > div {
    background-color: green;
    justify-content: center;
    align-items: center;
}

.pc-section__2nd > div:first-child {
    background-color: red;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
}

.pc-section__2nd > div > div{
    background-color: blue;
    justify-content: center;
    align-items: center;
    margin-left : 2px;
}

/* 섹션설정 pc fin */
/* 섹션설정 m*/
.m-section{
    --max-width : 900px;
    max-width: var(--max-width);
}

.m-section__1st > div {
    justify-content: center;
    align-items: center;
    background-color: green;
    margin: 3px;
}
/* 섹션설정 m fin */
/* 섹션설정 fin */


/* 반응형 설정 */
@media (min-width : 901px) {
    .pctopbar {
        display: block;
        position: fixed;
    }
    .pc-section, .pcfoot{
        display: block;
    }
    .mtopbar {
        display: none;
    }
    .m-section, .mfoot{
        display: none;
    }
}

@media (max-width : 900px) {
    .pctopbar {
        display: none;
    }
    .pc-section, .pcfoot {
        display: none;
    }
    .mtopbar {
        display: block;
        position: fixed;
    }
    .m-section, .mfoot {
        display: block;
    }
}
/* 반응형 설정 fin */


