/* 초기화 */
body {
    margin: 0;
    padding: 0;
}

/* 라이브러리 */
.con {    
    width : var(--max-width);
    margin : 0 auto;
}

.con-min-width {
    min-width : var(--max-width);
}

/* 커스텀 */
:root {
    --max-width : 1200px;
    --pch : 100px;
}

.footer {
    background-color: #191919;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top : 1px solid white;
}

.footer > div {
    color : white;
    margin-bottom: 20px;
}

.footer > div > p {
    padding: 2px 0;
}

.footer > div [class*="-section"] {
    padding : 10px;
    border: 1px solid white;
    color : white;
    border-radius: 10px;
    margin-top : 30px;
    margin-bottom: 40px;
}